@charset "uft-8";
/* css document */

@media (prefers-color-scheme:light){
    a {
        color: white;
    }

    .select {
        color: rgb(255 , 255 , 255);
        background-color: rgb(80, 80, 80);
    }

    .select:hover {
        background-color: rgb(76, 76, 76);
    }

    .item {
        background-color: rgb(90, 90, 90);
    }

    .item:hover {
        background-color: rgb(80, 80, 80);
    }
}

@media (prefers-color-scheme:dark){
    a {
        color: rgb(200 , 200 , 200);
    }

    .select {
        color: rgb(200 , 200 , 200);
        background-color: rgb(35, 38, 44);
    }

    .select:hover {
        background-color: rgb(31, 34, 40);
    }

    option:hover {
        background-color: rgb(18, 30, 56);
    }

    .item {
        background-color: rgb(35, 37, 44);
    }

    .item:hover {
        background-color: rgb(31, 33, 40);
    }
}

@media (prefers-color-scheme:no-preference){
    a {
        color: white;
    }

    .select {
        color: rgb(255 , 255 , 255);
        background-color: rgb(80, 80, 80);
    }

    .select:hover {
        background-color: rgb(76, 76, 76);
    }

    .item {
        background-color: rgb(90, 90, 90);
    }

    .item:hover {
        background-color: rgb(80, 80, 80);
    }
}

body {
    user-select: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.select {
    margin-top: 20px;
    width: 120px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: lighter;
    padding: 14px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 26px;
    font-weight: lighter;
}

.item p3{
    font-size: 20px;
}

.list {
    list-style: none;
    color: white;
    line-height: 60px;
}