@charset "uft-8";
/* css document */

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: rgb(192, 192, 192);
}

.list {
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
}