@charset "uft-8";
/* css document */
@font-face
{
	font-family: Song;
	src: url('./fonts/STSong.ttf');
}

@font-face
{
	font-family: consola;
	src: url('./fonts/consola.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Song';*/
}

body {
    line-height: 2.5em;
    background-color: gray;
    font-size: 1.25rem;
    font-weight: lighter;
}

/* 页脚 ↓ */
footer {
    text-align: center;
    line-height: 1.5em;
    color: rgb(200, 200, 200);
    font-size: small;
    padding-bottom: 1vw;
    padding-top: 2vw;
}
/* 页脚 ↑ */

p2 {
    font-family: 'Song';
}

/*↓↓↓萌娘百科版文字黑幕↓↓↓*/
span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited {
    color: black
}
.heimu,.heimu a,a .heimu,.heimu a.new {
    background-color: black;
    color: black;
    text-shadow: none
}
body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off {
    transition: color .13s linear;
    color: #fff
}
body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off {
    transition: color .13s linear;
    color: #add8e6
}
body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off,body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off {
    transition: color .13s linear;
    color: #ba0000
}
/*↑↑↑萌娘百科版文字黑幕↑↑↑*/

/*到顶部↓*/
#gotop{
    position: fixed;
    display: none;
    right: 20px;
    bottom: 20px;
    z-index: 11;
}

#gotop img{
    width: 130px;
}

#gotop img:hover{
    cursor: pointer;
}
/*到顶部↑*/

.leftbutton {
    border-style: none;
    cursor:pointer;
    font-weight: normal;
    margin: 0;
    width: 22vw;
    height: 10vh;
    min-height: 30px;
    background-color: white;
    color: black;
    font-size: large;
    filter: opacity(0.7);
    opacity: 0.7;
    transition: 1s;
}

.leftbutton:hover {
    background-color: rgb(233, 233, 233);
    filter: opacity(1);
    opacity: 1;
}

.leftheader {
    position: fixed;
    top: 0;
    left: 0px;
    width: 22vw;
    height: 100vh;
    z-index: 10;
}

.leftheader .leftblanket {
    background-color: white;
    text-align: center;
    overflow: hidden;
    width: 22vw;
    height: 100vh;
}

.leftheadershadow {
    position: fixed;
    left:22vw;
    width: 20px;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.1) , rgba(255, 255, 255, 0));
    z-index: 10;
}

.rightbutton {
    border-style: none;
    cursor:pointer;
    margin: 0;
    width: 18vw;
    height: 5vh;
    min-height: 30px;
    background-color: white;
    color: black;
    font-size: large;
    filter: opacity(0.7);
    opacity: 0.7;
    transition: 1s;
}

.rightbutton:hover {
    background-color: rgb(233, 233, 233);
    filter: opacity(1);
    opacity: 1;
}

.rightheader {
    position: fixed;
    top: 0;
    right: 0px;
    width: 18vw;
    height: 100vh;
    z-index: 10;
}

.rightheader .rightblanket {
    background-color: white;
    text-align: center;
    overflow: hidden;
    width: 18vw;
    height: 100vh;
}

.rightheadershadow {
    position: fixed;
    right:18vw;
    width: 20px;
    height: 100vh;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
    z-index: 10;
}

.article {
    width: 78vw;
    padding-left: 25vw;
}

.boxleftline {
    background-color: rgb(177, 177, 177);
    width: 1%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}

.preface {
    background-color: rgb(110, 110, 110);
    width: 99%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}

.line {
    height: 3px;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: rgb(233, 233, 233);
}

.borderline {
    width:100%;
    height: 2px;
    background-color:rgb(177, 177, 177);
}

.colorbutton {
    cursor:pointer;
    border-style: none;
    border-radius: 6px;
    font-weight: normal;
    margin: 0;
    background: linear-gradient(to right, rgb(180, 180, 180), rgb(233, 233, 233));
}

.colorbutton:hover {
    background: linear-gradient(to right, rgb(156, 156, 156), rgb(202, 202, 202)) !important;
}

.friendlink {
    background-color: gray;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    transition: 1s;
}

.friendlink:hover {
    background-color: white;
    color: gray;
}