@charset "uft-8";
/* css document */

/*颜色模式*/
@media (prefers-color-scheme:light){
    /* 当系统是使用浅色模式 */
    .homecover p{
        color: rgb(255, 255, 255);
    }

    .homecover p2{
        color: rgb(255, 255, 255);
    }

    .latest {
        color: rgb(160 , 160 , 160);
    }

    .homelatest {
        background-color: rgb(90 , 90 , 90);
    }

    .homelatest:hover {
        background-color: rgb(80 , 80 , 80);
    }

    .homeicon {
        border: solid 8px rgb(66, 66, 66);
    }
}

@media (prefers-color-scheme:dark){
    /* 当系统是使用深色模式 */
    .homecover p{
        color: rgb(255, 255, 12);
    }

    .homecover p2{
        color: rgb(255, 255, 12);
    }

    .latest {
        color: rgb(65, 73, 90);
    }

    .homelatest {
        background-color: rgb(35, 38, 44);
    }

    .homelatest:hover {
        background-color: rgb(27, 29, 34);
    }

    .homeicon {
        border: solid 8px rgb(35, 37, 44);
        filter: brightness(80%);
    }
}

@media (prefers-color-scheme:no-preference){
    /* 没有设定系统模式时 */
    .homecover p{
        color: rgb(255, 255, 255);
    }

    .homecover p2{
        color: rgb(255, 255, 255);
    }

    .latest {
        color: rgb(160 , 160 , 160);
    }

    .homelatest {
        background-color: rgb(90 , 90 , 90);
    }

    .homelatest:hover {
        background-color: rgb(80 , 80 , 80);
    }

    .homeicon {
        border: solid 8px rgb(66, 66, 66);
    }
}

.homecover {
    line-height: 1em;
    width: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
}

.homecover:hover {
    background-color: rgba(0 , 0 , 0 , 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.homecover p {
    font-size: 1.2em;
    font-weight: lighter;
}

.homecover p2 {
    font-size: 0.8em;
    font-weight: lighter;
}

.latest {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 15%;
    text-align: left;
    font-size: 40px;
    font-weight: normal;
}

.homelatest {
    width: 70%;
    height: 300px;
    border-radius: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latesta {
    text-decoration: none;
    color: white;
}

.latesta h1 {
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latesta p{
    font-weight: lighter;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
}

.latesta p10086{
    font-weight: lighter;
    line-height: 1em;
    padding-left: 30px;
    padding-right: 30px;
}