@charset "uft-8";
/* css document */

body {
    color: white;
    font-size: x-large;
    font-family: 'Song';
}

code {
    display: block;
    font-family: 'consola';
    border-radius: 10px;
    font-size: large;
    line-height: 2em;
    overflow-x: scroll;
}

span {
    font-family: 'consola';
}

.script {
    overflow-x: auto;
    white-space: nowrap;
}

h1 {
    font-size: 50px;
    line-height: 60px;
}

h2 {
    font-size: 40px;
    margin-top: 1em;
    padding-bottom: 1em;
}

h3 {
    font-size: x-large;
    padding-bottom: 0.5em;
}

p {
    font-size: x-large;
    line-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ps {
    font-size: 19px;
    line-height: 1em;
    font-weight: bold;
    color: lightgray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p1 {
    font-size: large;
}

p2 {
    font-size: x-large;
}

p4 {
    color: gray;
    font-family: 'Consolas';
}

.imgtext {
    font-size: 19px;
    line-height: 1em;
    font-weight: bold;
    color: lightgray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.image {
    border-radius: 10px;
    max-width: 100%;
    max-height: 70vh;
}

.tag {
    background-color: rgb(233, 233, 233);
    font-size: x-large;
    font-weight: bold;
    padding: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    line-height: 2.5em;
    color: black;
    border-style: none;
    border-radius: 8px 8px 8px 8px;
}

ul {
    padding-left: 2em;
    padding-bottom: 2em;
}

.headerimg {
    background-color: white;
    padding-left: 22vw;
    width: 82vw;
    height: 14.6vw;
    overflow: hidden;
}

.headimg {
    -webkit-filter: grayscale(50%);
}

.wordbutton{
    cursor:pointer;
    border-style: none;
    border-radius: 6px;
    margin: 0;
    color: white;
    text-decoration: none;
    background-color: rgb(99, 99, 99)/*rgb(0, 1, 58)*/;
}

.wordbutton:hover {
    background-color:  rgb(80, 80, 80)/*rgb(0, 31, 97)*/;
}