@charset "uft-8";
/* css document */

body {
    font-size: 1.2rem;
    font-weight: lighter;
}

code {
    display: block;
    font-family: 'consola';
    border-radius: 10px;
    font-size: large;
    line-height: 2em;
    overflow-x: scroll;
}

@media (prefers-color-scheme:light){
    .intro {
        background-color: rgb(80 , 80 , 80);
    }

    .foldcontent .intro {
        background-color: rgb(100, 100, 100);
    }

    .imgbox p{
        color: rgb(170, 170, 170);
    }

    .sidetitle {
        color:rgb(0, 0, 0);
    }

    .tag {
        color: rgb(0, 0, 0);
        background-color: rgb(233 , 233 , 233);
    }

    .tag:hover {
        background-color: rgb(222 , 222 , 222);
    }

    p4 {
        color: rgb(255, 255, 255);
    }
    
    .folder {
        background-color: rgb(80 , 80 , 80);
    }
    
    .foldButton {
        background-color: rgb(80 , 80 , 80);
        color: rgb(255, 255, 255);
    }
    
    .sideFolder {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideFolding .sideFoldButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideFolding .sideFoldButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(233, 233, 233);
    }
    
    .sideUnfold .sideFoldButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(220, 220, 220);
    }

    .sideUnfold .sideFoldButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(200, 200, 200);
    }

    .sideRightButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideRightButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(233, 233, 233);
    }

    .sideFoldRightButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideFoldRightButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(233, 233, 233);
    }
}

@media (prefers-color-scheme:dark){
    .intro {
        background-color: rgb(35, 37, 44);
    }

    .foldcontent .intro {
        background-color: rgb(26, 27, 31);
    }

    .headerimg {
        filter: brightness(90%);
    }

    .imgbox img {
        filter: brightness(90%);
    }

    .imgbox p{
        color: rgb(100, 100, 100);
    }

    .sidetitle {
        color: rgb(170, 193, 255);
    }

    .tag {
        color: rgb(170, 200, 255);
        background-color: rgb(38, 40, 48);
    }

    .tag:hover {
        background-color: rgb(15, 16, 20);
    }

    p4 {
        color: gray;
    }
    
    .folder {
        background-color: rgb(35, 37, 44);
    }
    
    .foldButton {
        background-color: rgb(35, 37, 44);
        color: rgb(200, 200, 200);
    }
    
    .sideFolder {
        color: rgb(170, 190, 255);
        background-color: rgb(22, 23, 26);
    }

    .sideFolding .sideFoldButton {
        color: rgb(170, 190, 255);
        background-color: rgb(22, 23, 26);
    }

    .sideFolding .sideFoldButton:hover {
        color: rgb(211, 220, 255);
        background-color: rgb(27, 29, 34);
    }
    
    .sideUnfold .sideFoldButton {
        color: rgb(170, 190, 255);
        background-color: rgb(35, 38, 46);
    }

    .sideUnfold .sideFoldButton:hover {
        color: rgb(211, 220, 255);
        background-color: rgb(40, 43, 53);
    }

    .sideRightButton {
        color: rgb(170, 190, 255);
        background-color: rgb(22, 23, 26);
    }

    .sideRightButton:hover {
        color: rgb(211, 220, 255);
        background-color: rgb(27, 29, 34);
    }

    .sideFoldRightButton {
        color: rgb(170, 190, 255);
        background-color: rgb(22, 23, 26);
    }

    .sideFoldRightButton:hover {
        color: rgb(211, 220, 255);
        background-color: rgb(27, 29, 34);
    }
}

@media (prefers-color-scheme:no-preference){
    .intro {
        background-color: rgb(80 , 80 , 80);
    }

    .foldcontent .intro {
        background-color: rgb(100, 100, 100);
    }

    .imgbox p{
        color: rgb(170, 170, 170);
    }

    .sidetitle {
        color:rgb(0, 0, 0);
    }

    .tag {
        color: rgb(0, 0, 0);
        background-color: rgb(233 , 233 , 233);
    }

    .tag:hover {
        background-color: rgb(222 , 222 , 222);
    }

    p4 {
        color: rgb(255, 255, 255);
    }
    
    .folder {
        background-color: rgb(80 , 80 , 80);
    }
    
    .foldButton {
        background-color: rgb(80 , 80 , 80);
        color: rgb(255, 255, 255);
    }
    
    .sideFolder {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideFolding .sideFoldButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideFolding .sideFoldButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(233, 233, 233);
    }
    
    .sideUnfold .sideFoldButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(220, 220, 220);
    }

    .sideUnfold .sideFoldButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(200, 200, 200);
    }

    .sideRightButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideRightButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(233, 233, 233);
    }

    .sideFoldRightButton {
        color: rgb(160 ,160 ,160);
        background-color: rgb(255 , 255 , 255);
    }

    .sideFoldRightButton:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(233, 233, 233);
    }
}

.script {
    overflow-x: auto;
    white-space: nowrap;
}

h1 {
    font-size: 2.3em;
    font-weight: normal;
    line-height: 60px;
}

h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 1em;
    padding-bottom: 1em;
}

h3 {
    font-size: x-large;
    padding-bottom: 0.5em;
}

p {
    line-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.rss p {
    line-height: 1em;
    padding: 0;
}

ps {
    font-size: 0.825em;
    line-height: 1em;
    font-weight: normal;
    color: rgb(170, 170, 170);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p1 {
    font-size: large;
}

p4 {
    font-family: 'Consolas';
}

.borderline {
    width:100%;
    height: 2px;
    background-color:rgb(177, 177, 177);
}

.folder {
    font-size: large;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.unfold {
    max-height: none;
}

.folding {
    overflow: hidden;
    max-height: 3.3em;
}

.foldcontent {
    margin-left: 1vw;
    margin-right: 1vw;
}

.foldButton {
    font-size: large;
    height: 3.3em;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.foldButton .triangle {
    display: inline-block;
}

.foldButton h1{
    display: inline-block;
    font-size: 1.5em;
}

.foldButton p2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 0.5em;
    font-size: 1em;
}

.headerdiv {
    padding-left: 18vw;
    width: 82vw;
    height: 16vw;
    overflow: hidden;
}

.headerimg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imgbox {
    text-align: center;
    padding-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.imgbox p {
    font-size: 0.825em;
    line-height: 1em;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 1em;
    text-align: center;
}

.imgbox img {
    border-radius: 10px;
    max-width: 100%;
}

.intro {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    margin-bottom: 1em;
}

.main {
    font-size: 24px;
    font-weight: normal;
}

.navigatag {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 34vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sideFolder {
    flex-grow: 0;
    flex-shrink: 0;
    border-style: none;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
}

.sideUnfold {
    max-height: none;
    height: auto;
}

.sideFolding {
    max-height: 5vh;
    overflow: hidden;
}

.sideFoldButton {
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.sideFoldButton p2{
    font-size: 1em;
}

.sideFoldHeader {
    display: flex;
    height: 5vh;
}

.sideFoldRightButton {
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    padding-right: 7vh;
    border-style: none;
    cursor:pointer;
    margin: 0;
    height: 5vh;
    font-size: large;
    font-weight: lighter;
    transition: 0.5s;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sideRightButton {
    justify-content: center;
    align-items: center;
    margin-left: 5vh;
    padding-left: 2vh;
    padding-right: 7vh;
    border-style: none;
    cursor:pointer;
    height: 5vh;
    font-size: large;
    font-weight: lighter;
    transition: 0.5s;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidetitle {
    font-size: 1.5vw;
    text-align:center;
    font-weight: normal;
    line-height: 1.2em;
}

.tag {
    font-size: 18px;
    font-weight: lighter;
    padding: 4px;
    line-height: 40px;
    border-style: none;
    border-radius: 8px 8px 8px 8px;
}

ul {
    padding-left: 2em;
    padding-bottom: 2em;
}

.wordbutton{
    cursor:pointer;
    border-style: none;
    border-radius: 6px;
    margin: 0;
    color: white;
    text-decoration: none;
    background-color: rgb(80, 80, 80)/*rgb(0, 1, 58)*/;
}

.wordbutton:hover {
    background-color:  rgb(99, 120, 120)/*rgb(0, 31, 97)*/;
}