@charset "uft-8";
/* css document */

@media (prefers-color-scheme:light){
    body {
        color: white;
    }

    .asidebox {
        background-color: rgb(110, 110, 110);
    }
}

@media (prefers-color-scheme:dark){
    body {
        color: rgb(200 , 200 , 200);
    }

    .asidebox {
        background-color: rgb(29,27,34);
    }
}

@media (prefers-color-scheme:no-preference){
    body {
        color: white;
    }

    .asidebox {
        background-color: rgb(110, 110, 110);
    }
}

p {
    font-size: large;
}

.asidebox {
    overflow: hidden;
    position: absolute;
    top: 18vh;
    left: 40vw;
    width: 38vw;
    max-height: 400px;
    padding-top: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: large;
    line-height: 2.3em;
    border-radius: 20px;
}