@charset "uft-8";
/* css document */

@media (prefers-color-scheme:light){
    .friendlink {
        background-color: gray;
        color: black;
    }

    .friendlink:hover {
        background-color: white;
        color: gray;
    }
}

@media (prefers-color-scheme:dark){
    .friendlink {
        background-color: rgb(29, 32, 36);
        color: rgb(80, 98, 130);
    }

    .friendlink:hover {
        background-color: rgb(23, 25, 29);
        color: rgb(170, 200, 255);
    }
}

@media (prefers-color-scheme:no-preference){
    .friendlink {
        background-color: gray;
        color: black;
    }

    .friendlink:hover {
        background-color: white;
        color: gray;
    }
}


.friendlink {
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;
}